@font-face {
    font-family: 'Alpino';
    src: url('Alpino-Regular.otf');
    font-weight: normal;
}

body {
    margin: 0;
    background-color: #fdf6e3;
    font-family: 'Times New Roman', serif;
    color: #000;
    cursor: url('circle-24.ico'), auto;
}

h1:hover, p:hover, a:hover, .about-text:hover {
    cursor: url('circle-24.ico'), pointer;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alpino', serif;
    position: relative;
}

header h1 {
    font-size: 40px;
    font-weight: normal;
    margin-left: 20px;
    color: #000;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 22px;
    margin-left: auto;
    padding-top: 10px;
    font-size: 30px;
    padding-right: 100px;
    text-decoration: underline;
}

.hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
}


.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
    font-family: 'Alpino', serif;
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 140px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #003dda;
        padding: 1rem 0;
        z-index: 999;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu li a {
        color: #fdf6e3;
    }

    .menu-toggle:checked + .hamburger + .nav-menu {
        display: flex;
    }
}


.menu-toggle {
    display: none;
}


.portfolio {
    max-width: 900px;
    margin: 60px auto;
    padding: 0 20px;
}

.project {
    margin-bottom: 60px;
    text-align: center;
}

.project-title {
    font-size: 28px;
    color: #003dda;
    margin-bottom: 15px;
    font-family: 'Alpino', serif;
}

.project-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #003dda;
    border-radius: 10px;
}

.project-description {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

.project-video {
    border: 3px solid #007BFF;
    border-radius: 16px;
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
